{% extends '_layout1.html' %}

{% block principal %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 p-1">
                <h1>Lista por Ano ({{ pais_selecionado }}) ({{ tipo_selecionado }})</h1>
            </div>
        </div>

        <div>
            <table class="table table-sm table-dark">
                <thead>
                    <tr>
                        <th scope="col">Ano</th>
                        <th scope="col">Total de moedas</th>
                        <th scope="col">Lista</th>
                    </tr>
                </thead>
                <tbody>
                    {% for resultado in resultados %}
                        <tr>
                            <td>{{ resultado.ano }}</td>
                            <td>{{ resultado.quantidade }}</td>
                            <td><a class="btn btn-outline-light" href="{% url 'index' %}?pais={{ pais_id }}&tipo={{ tipo_id }}">Lista</a></td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="8">Nenhuma moeda cadastrada.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-12 col-md-6 p-1">
            <a class="btn btn-outline-light" href="{% url 'lista_por_pais_tipo' %}?pais={{ pais_selecionado }}">Voltar</a>
        </div>
    </div>
{% endblock %}

